<ion-header>
  <ion-navbar>
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
      <ion-buttons class="refresh" end> <ion-icon name="refresh"></ion-icon> </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-spinner name="circles" *ngIf="pages == 0">
  </ion-spinner>
  <div class="" *ngIf="pages!==0">
  <p>{{app_pages1.id}}</p>
	
  <!-- <p>{{app_name.app_domain}}</p>
  <p>{{app_name.app_directory}}</p>
  <h2>Single array value</h2>
  	<p>{{pages[0]?.content}}</p>
    <p>{{pages1?.title}}</p>S
    <p>{{pages2?.slug}}</p>
    <p>{{pages3?.id}}</p>
    <p>{{pages4?.title}}</p>
    <p>{{pages5?.title}}</p>
    <p>{{pages6?.title}}</p> -->

  <h4>Gettting All array value </h4>
   <ion-list>
     <ion-item *ngFor="let show of pages.app_pages" menuClose>
      {{show.title}}
    </ion-item>
            <!-- <ion-item *ngFor="let show of pages.app_pages" menuClose>
              <a href="{{show.title}}" (click)="pagesopen(show.id)" > {{show.title}}</a>

            </ion-item> -->
           
        </ion-list>

         <ion-item *ngFor="let show of pages.app_pages" menuClose
              (click)="detailsPage(show.id);">
          {{show.title}}
        </ion-item>
   <!--  <ul  *ngFor="let show of pages.app_pages">

      <li>
         {{show.title}}
      </li>
    </ul> -->
  </div>

		
</ion-content>
