<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   
    <ion-title>
      <div *ngIf="(resultData?.apppages==null)">
          <div *ngIf="(resultData?.AppkitPage!=null); else elsetag">
               <p> <span [innerHTML]="resultData?.AppkitPage[0]?.title"></span></p>
           </div>
          <ng-template #elsetag>
            <p><span >this is default title</span></p> 
         </ng-template>
      </div>
      <div *ngIf="(resultData?.apppages)">
        <p><span [innerHTML]="resultData?.apppages?.title"></span></p>
      </div> 
      <ion-icon class ="refresh" name="refresh"  (click)="refreshPage()" end ></ion-icon>   
    </ion-title>
         
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div  *ngIf="(resultData?.apppages==null); else elsetag">
    <div *ngIf="(resultData?.AppkitPage!=null); else elsetag">
       <p> <span [innerHTML]="resultData?.AppkitPage[0]?.content"></span></p>
    </div>
    <ng-template #elsetag>
       <p><span >this is default template</span></p> 
    </ng-template>
      
  </div> 
  <!--except index page-->
  <ng-template #elsetag>
     <p> <span [innerHTML]="resultData?.apppages?.content"></span></p>
     <i class="{{resultData?.apppages?.icon}}"  aria-hidden="true"></i>
     <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
   </ng-template>

  </ion-content>

  <ion-footer>
  <ion-toolbar>
    <ion-title> <p [innerHTML]=" resultData?.metadata?.app_footer_content"></p> </ion-title>
  </ion-toolbar>
</ion-footer>