
<ion-header>
  <ion-navbar>
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><h1 [innerHTML]="pages5.title"></h1></ion-title>
      <ion-buttons class="refresh" end> <ion-icon name="refresh"></ion-icon> </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-spinner name="circles" *ngIf="pages == 0">
  </ion-spinner>
   <div class="" *ngIf="pages!==0">

 <!-- <p>{{pages5.id}}</p>
 <p>{{pages5.slug}}</p>
 <p>{{pages5.title}}</p>
 <p >{{pages5.content}}</p> -->
 <p><span [innerHTML]="pages5.id"></span></p>
<h6><span [innerHTML]="pages5.created_at"></span></h6>
 <p><span [innerHTML]="pages5.content"></span></p>
 <!-- <div [innerHTML] = "pages5.content"></div> -->
 <!-- <div [innerHTML]= " pages.content "></div> -->
 <!-- <p>{{pages5.created_at}}</p> -->
</div>

</ion-content>
