<!-- <ion-nav [root]="rootPage"></ion-nav> -->


<ion-menu side="left" [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Sidemenu</ion-title>
               <button ion-button menuToggle>
      <ion-icon name="close"></ion-icon>
    </button>
        </ion-toolbar>
    </ion-header>        
    <ion-content>
        <ion-spinner name="circles" *ngIf="record == 0">
  </ion-spinner>
   <div class="" *ngIf="pages!==0">
        
         <ion-list>
     <ion-item *ngFor="let show of record.app_pages" menuClose
              (click)="detailsPage(show.id);">
      {{show.title}}
    </ion-item>
    <ion-item (click)="products();">
      Product
    </ion-item>
  </ion-list>
      </div>
    </ion-content>
</ion-menu>
 
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
