<!-- <ion-nav [root]="rootPage"></ion-nav> -->


<ion-menu side="left" [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Sidemenu</ion-title>
               <button ion-button menuToggle>
      <ion-icon name="close"></ion-icon>
    </button>
        </ion-toolbar>
    </ion-header>        
    <ion-content>
         <!--  <ul  *ngFor="let show of pages">

      <li>
         {{show.title}}
      </li>
    </ul> -->

    
        <ion-list>
            <ion-item *ngFor="let show of pages" menuClose>
              <a href="{{show.title}}" (click)="pagesopen(show.title)" > {{show.title}}</a>
            </ion-item>
           
        </ion-list>
    </ion-content>
</ion-menu>
 
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
